#event {
  padding: 100px 20px 100px 20px;
  background-color: #343b54;
  min-height: 100%;
  color: rgb(201, 201, 201);
  overflow-y: scroll;
  letter-spacing: .5px;

  .container {
    background-color: rgba(24, 24, 24, 0.8);
    border-radius: 7px;
    padding: 30px 50px;

    .v-btn {
      color: white;
      letter-spacing: 3px;
      font-weight: 400;
    }
  }

  p {
    max-width: 920px;
  }
  #header {
    margin-top: 20px;
  }

  #reward, #flow, #term {
    .list-item {
      margin-left: 20px;
      display: flex;
    }
    .order-number {
      min-width: 30px;
      text-align: center;
    }

    p { margin: 0; }
  }

  h1, h2, h3 {
    color: rgb(235, 235, 235);
  }
  h2 {
    text-align: center;
    margin-top: 70px;
  }
}
