#shop {
  $line_height: 60px;

  padding-bottom: 150px;
  padding-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 50px;
  }

  .header-wrapper {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: $line_height;
    width: 100%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -$line_height;
      left: calc(50% - 1px);
      width: 1px;
      height: $line_height;
      background: #ffffff;
    }

    .header {
      border: 1px solid white;
      border-radius: 7px;
    }

    h1 {
      font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

      color: white;
      margin: 10px 20px;
      letter-spacing: 5px;
      font-weight: 300;
    }
  }

  .row {
    width: 100%;
  }

  .v-card {
    height: 100%;

    .v-image {
      min-height: 250px;
      max-height: 250px;
    }

    @media only screen and (max-width: 700px) {
      .v-image {
        min-height: 350px;
        max-height: 350px;
      }
    }
  }
  #products-list {
    .v-image__image.v-image__image--cover {
      transition: .5s;
      background-size: 100%;
    }
    .v-image:hover .v-image__image--cover {
      background-size: 120%;
    }

    .price {
      position: absolute;
      bottom: 15px;
      left: 15px;
      background-color: rgba(38, 38, 44, 0.5) !important;
      color: white !important;
    }
  }
}
